@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import '../../../geral/header_seta_voltar.css';


/* Configurações gerais */
* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #F8F8FF;
    height: 100vh;
}

/* bot no seu estado fechado */
.bot_content{
    display: flex;
    background-color: #F8F8FF;
    width: 100%;
    height: 85%;
    margin-top: 30px;
    justify-content: flex-end;
}

/* bot no seu estado aberto */
.bot{
    width: 100%;
    height: 99%;
    background-color:  #F8F8FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bot_content .area_mensagem{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 30px;
    overflow: auto;
}

.bot_content .area_mensagem .content_resposta{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.bot_content .area_mensagem .content_resposta .resposta{
    background-color: #367fec;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    border-radius: 20px;
}

.bot_content .area_mensagem .content_resposta .resposta span{
    color: white;
}

/* -- */

.bot_content .area_mensagem .content_pergunta{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bot_content .area_mensagem .content_pergunta .pergunta{
    background-color: #1955ad;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    max-width: 70%;
}

.bot_content .area_mensagem .content_pergunta .pergunta span{
    color: white;
}

.bot_content .interacao_usuario_content{
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 5px;
}

.bot_content .interacao_usuario_content .input_prompt {
    resize: none;
    width: 93%;
    border-radius: 10px;
    height: 50px;
    background-color: #C9C9C9;
    padding: 10px;
}

.bot_content .interacao_usuario_content .enviar_prompt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #418CFC;
    border: none;
    border-radius: 5px;
}

.bot_content .interacao_usuario_content .enviar_prompt .enviar_prompt_icone{
    width: 40px;
}
