@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Configurações gerais */
* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: black;
}

/* bot no seu estado fechado */
.bot_content{
    display: flex;
    position: relative;
    gap: 20px;
    background-color: #367fec;
    width: 500px;
}

.bot_content .bot_fechado{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.bot_content .bot_fechado .bot{
    display: flex; 
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 196, 196);
    padding: 10px;
    border-radius: 1000%;
}

.bot_content .bot_fechado .bot .bot_fechado_imagem{
    width: 100px;
}


/* bot no seu estado aberto */
.bot_content .bot_aberto{
    width: 400px;
    height: 500px;
    background-color:  rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bot_content .bot_aberto .div_titulo_and_subtitulo {
    background-color: #418CFC;
    height: 13%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.bot_content .bot_aberto .div_titulo_and_subtitulo .titulo {
    margin: 0;
    font-size: 23px;
    color: white;
}

.bot_content .bot_aberto .div_titulo_and_subtitulo .subtitulo {
    color: white;
}

.bot_content .bot_aberto .area_mensagem{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 30px;
    overflow: auto;
}

.bot_content .bot_aberto .area_mensagem .content_resposta{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.bot_content .bot_aberto .area_mensagem .content_resposta .resposta{
    background-color: #367fec;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    border-radius: 20px;
}

.bot_content .bot_aberto .area_mensagem .content_resposta .resposta span{
    color: white;
}

/* -- */

.bot_content .bot_aberto .area_mensagem .content_pergunta{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bot_content .bot_aberto .area_mensagem .content_pergunta .pergunta{
    background-color: #1955ad;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    max-width: 70%;
}

.bot_content .bot_aberto .area_mensagem .content_pergunta .pergunta span{
    color: white;
}

.bot_content .bot_aberto .interacao_usuario_content{
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 5px;
}

.bot_content .bot_aberto .interacao_usuario_content .input_prompt {
    resize: none;
    width: 85%;
    border-radius: 5px;
}

.bot_content .bot_aberto .interacao_usuario_content .enviar_prompt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #418CFC;
    border: none;
    border-radius: 5px;
}

.bot_content .bot_aberto .interacao_usuario_content .enviar_prompt .enviar_prompt_icone{
    width: 10px;
}
