@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import '../geral/header.css';
@import '../geral/footer.css';

/*----------------------------------------------------------------------------------------------------------*/

/* Home / principal */
.home{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../../img/home/site-fundo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home .content h3{
    font-size: 4rem;
    font-weight: 600;
    color: #FBFBFB;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home .content p{
    line-height: 2;
    font-weight: 500;
    font-size: 1.7rem;
    color: #FBFBFB;
    padding: 1rem 0;
}

.btn-1{
    margin-top: 3rem;
    display: inline-block;
    border-radius: 10px;
    height: 4.5rem;
    width: 25rem;
    background: #0753ea;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
}

.btn-1:hover {
    background-color: #0545c4;
}


/*----------------------------------------------------------------------------------------------------------*/

/* Porque escolher a gente? */
#services .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 59px;
}

#services .box-container .box {
    height: 330px;
    width: 415px;
    padding: 20px;
    padding: 4rem;
    text-align: center;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}

.services{
    background: #418CFC;
    padding: 5rem 7%;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 8px;
}

.services .heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5rem;
}

#confiar {
    color: white;
}

.services .box-container .box:hover {
    transform: scale(1.05);
    transition: 0.5s all;
}

.services .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: 600;
    color: black;
}

.services .box-container .box p{
    font-size: 1.8rem;
    color: var(--light-color);
    font-weight: 400;
    line-height: 2;
}


/*----------------------------------------------------------------------------------------------------------*/

/* Feedbacks */
.blog {
    padding: 3rem;
}

.blog .heading{
    font-size: 4.5rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.blog .box-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blog .box-container .box{
    border: var(--border);
    border-radius: 15px;
    width: 450px;
}

.blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.blog .box-container .box .content{
    padding: 20px;
    padding-bottom: 0px;
}

.blog .box-container .box .content .dados{
    text-decoration: underline;
    font-size: 1.45rem;
    color: var(--light-color);
}


.blog .box-container .box .content .icons{
    padding: 0px 0px 20px 0;
    display: flex;
    justify-content: space-between;
}

.blog .box-container .box .content .icons a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blog .box-container .box .content .icons a:hover{
    color: var(--primary);
}

.blog .box-container .box .content .icons a i{
    color: var(--primary);
}

.blog .box-container .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
}

.blog .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 430;
    color: var(--light-color);
    line-height: 2;
    margin: 0%;
}

.blog .estrelas {
    display: flex;
    align-items: center;
    padding: 0px 8px 8px;
}

.blog .estrelas .nota{
    font-size: 2.7rem;
    font-weight: bold;
    color: #0282f3;
    padding: 9px 8px 0 1.3rem;
}

.blog .estrelas img {
    height: 24px;
    margin-right: 2px;
    margin-bottom: 0;
}


/*----------------------------------------------------------------------------------------------------------*/

/* Perguntas frequentes */
.perguntas {
    padding: 3rem;
    background: var(--light-bg);
}

.perguntas .heading{
    font-size: 4.5rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.accordion {
    padding: 0px 3rem;
}

.accordion-button {
    font-size: 2rem !important;
    font-weight: 600;
    height: 75px;
}

.accordion-body {
    font-size: 1.7rem;
}


/*----------------------------------------------------------------------------------------------------------*/

/* Profissionais */
.profissionais .heading {
    font-size: 4.5rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 4rem;
}

.profissionais {
    padding: 3rem;
}

.container-doutores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    height: 420px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    margin-bottom: 20px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.flip-card .front,
.flip-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #f4f4f4;
    backface-visibility: hidden;
    border-radius: 0 20px 0 20px;
}

.flip-card .back {
    transform: rotateX(180deg);
    color: #000;
    background: #f4f4f4;
}

label:hover .flip-card {
    transform: rotateX(2deg);
    box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

input {
    display: none;
}

:checked + .flip-card {
    transform: rotateX(180deg);
}

label:hover :checked + .flip-card {
    transform: rotateX(175deg);
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front img {
    width: 160px;
    height: 150px;
    margin: 30px 0 20px 0;
    border-radius: 50%;
}

.front h1 {
    font-size: 30px;
    color: #499bef;
    margin: 0;
}

.front h2 {
    font-size: 18px;
    color: #4e699d;
    margin: 12px 0 12px 0;
}

.front b {
    font-size: 14px;
    color: #424752;
    margin: 0 0 35px 0;
    display: block;
}

.front p,
.back .click {
    font-size: 18px;
    font-weight: 600;
}

.back h1 {
    color: #424752;
    margin: 30px 0 0 0;
}

hr {
    width: 180px;
    margin: 15px auto 10px auto;
}

.back p {
    font-size: 16px;
    color: #000;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------*/

/* Espaço */
.espaco .heading{
    font-size: 4.5rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 2rem 0 1rem 0;
}

.espaco {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5c9dff;
    padding-bottom: 3.8rem;
}

#espaco-text {
    color: white;
}

#carouselExampleCaptions {
    width: 60% !important;
}

.carousel-item h5{
    color: black !important;
}

.carousel-item p{
    color: black !important;
}


/*-----------------------------------------------------------------------------------------------------*/

