@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Geral*/
body {
    font-family: 'Inter', sans-serif;
}

:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#393939;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
    /* barra de navegação */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 5rem;
}

/*--------------------------------------------------*/
/* Navbar */

.navbar {
    background-color: #418CFC !important;
    height: 65px;
}

div.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

/* navbar open*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav .nav-item a{
    font-size: 2rem;
}


/* Logo */
#div-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#div-logo h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 34px;
    color: #FBFBFB;
    font-weight: 900;
}

#div-logo img {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    margin-top: 5px;
}

/* Botão de entrar / cadastrar */
#criar-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 25px;
}

#botao-entrar-header {
    border: none;
    height: 38px;
    width: 200px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #FBFBFB;
    border-radius: 5px;
}
 
#botao-entrar-header:hover {
    background-color: #0753ea;
    transition: all 0.5s;
} 

/* Liks de outras páginas */
.nav a{
    font-size: 1.2rem;
    color: #fff;
 margin: 0 7rem;
    
    
}
.nav a:hover{
    color:#363846; 
}


/* CONTATO */

.contato_section{
    display: flex;
    height: calc(100vh - 55px);
    place-items: center;
}

.info{
    display: grid;
    place-items: center;
    width: 50vw;
    padding: 50px;
    height: 465px;
    margin-top: 20px;
}

.formulario{
    padding: 50px 0px;
    width: 50vw;
    padding-left: 0px;
    align-items: center;
    display: grid;
}

.form {
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.226);
    border-radius: 11px;
    height: 465px;
    padding: 0px 20px;
    width: 85%;
}

.uni{
    display: flex;
    align-items: normal;
}

.uni p{
    font-size: 11pt;
    font-weight: 500;
    color: #666;
}

.uni img{
    height: 17px;
    margin-right: 5px;
    margin-top: 2px;
}

.form input{
    background: #e3e3e3;
    border: 3px #e3e3e3;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px;
    margin-bottom: 9px;
    font-size: 16px;
}

.input{
    height: 34px;
    width: 100%;
}

.input-mensagem{
    background: #e3e3e3;
    border: 3px #e3e3e3;
    border-radius: 5px;
    outline: none;
    padding: 6px 10px;
    margin-bottom: 9px;
    font-size: 16px;
    height: 145px;
    width: 100%;
    resize: none;
}

.input-double{
    height: 34px;
    width: 237px;
}

.double {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}  

.titulo_form{
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 20pt;
    font-weight: 600;
    padding-top: 40px;
}

.titulo{
    font-size: 20pt;
    font-weight: 600;
}

.paragrafo{
    width: 380px;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 40px;
}

.chamada{
    font-weight: 500;
    font-size: 15pt;
    margin-bottom: 10spx;
}

.botoes div:first-child{
    margin-bottom: 10px;
}

.buttom{
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.226);
    border-radius: 11px;
    width: 168px;
    height: 47px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttom p:first-child{
    font-size: 11pt;
    margin-bottom: -1px;
    font-weight: 500;
}

.buttom p:nth-child(2){
    font-size: 8pt;
    font-weight: 300;
}

.buttom img{
    width: 32px;
    margin: 2px 10px;
}

/* RESPONSIVIDADE */

@media (max-width: 1238px){
    .input-double {
        width: 195px;
    }
}

@media (max-width: 1038px){
    .contato_section{
        display: block;
    }

    .centralizar{
        display: grid;
        place-items: center;
    }

    .form{
        width: 100%;
    }

    .formulario{
        padding-top: 50px;
        width: initial;
    }

    .info{
        padding-bottom: 0px;
        width: initial;
        padding: 50px 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 884px){
    .titulo_form{
        font-size: 19pt;
    }

    .double{
        display: initial;
    }

    .input-double {
        width: 100%;
    }

    .input-mensagem{
        height: 101px;
    }
}

@media (max-width: 456px){
    .titulo_form {
        font-size: 16pt;
    }
}

@media (max-width: 409px){
    .titulo_form {
        font-size: 14pt;
    }
}

.footer{
    text-align: center;
    padding: 3rem;
    background-color: #418CFC;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    color: #fff;
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    background: var(--primary);
    color: var(--white);
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    color: #fff;
}

.footer .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    color: #fff;
    padding: .5rem 0;
    text-decoration: none;
}

.footer .box-container .box .link:hover{
    color: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-top: .1rem solid #fff;
}

.footer .credit span{
    color: var(--secondary);
}