@media (max-width: 576px){
    .card{
        width: 340px;
        height: 480px;
    }
}

@media (max-width: 992px){
    .container{
        display: none;
    }
    .flip-container{
        display: block;
    }
}