@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/*Girar o card*/
.flip-container{
    position: absolute;
    perspective: 1200px;
}

.card{
    color: black;
    width: 440px;
    height: 480px;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    backface-visibility: hidden;
    border-radius: 20px;
}

.front, .back{
    background-color: white;
}

.back {
    transform: rotateY(-180deg);
}

/*Formulario da parte "front"*/
.mobile-form-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-form-container form a{
    color: #333;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.mobile-form-container form input{
    border: none;
    margin: 8px 0;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.mobile-form-container form button{
    background-color: #408CFC;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/*formulario da parte "back"*/
.back .mobile-form-container span {
    margin-top: 40px;
    margin-bottom: 5px
}


.mobile-input-second-info, .mobile-input-third-info, .mobile-btn-form-back, .mobile-btn-form-send{
    display: none;
}


