@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import 'geral/header.css';
@import 'geral/footer.css';

/* Servicos */

.servicos_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

}

.servicos{
    display: flex;
    justify-content: center;
}

.cards{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-right: 30px;
}

.cardInside{
    background-color: white;
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0656F3;
    border-radius: 15px;    
    cursor: pointer;
    transition-duration: 0.1s;
}

.cardInside.selected {
    border: 3px solid #0e47b9;
    transform:translateY(-3px);
}

.cardInside h1{
    font-size: 1.7rem;
    font-weight: 700;
}

.cardDescription{
    background-color:white;
    width: 558px;
    border: 2px solid #0656F3;
    border-radius: 15px;
    padding: 20px;
}

.cardDescription h1{
    font-weight: 700;
}

.cardDescription p{
    font-size: 17px;
}


