@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Geral*/
body {
    font-family: 'Inter', sans-serif;
}

:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#393939;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
    /* barra de navegação */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 5rem;
}

/*--------------------------------------------------*/
/* Navbar */

.navbar {
    background-color: #418CFC !important;
    height: 65px;
}

div.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

/* navbar open*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav .nav-item a{
    font-size: 2rem;
}


/* Logo */
#div-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#div-logo h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 34px;
    color: #FBFBFB;
    font-weight: 900;
}

#div-logo img {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    margin-top: 5px;
}

/* Botão de entrar / cadastrar */
#criar-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 25px;
}

#botao-entrar-header {
    border: none;
    height: 38px;
    width: 200px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #FBFBFB;
    border-radius: 5px;
}
 
#botao-entrar-header:hover {
    background-color: #0753ea;
    transition: all 0.5s;
} 

/* Liks de outras páginas */
.nav a{
    font-size: 1.2rem;
    color: #fff;
 margin: 0 7rem;
    
    
}
.nav a:hover{
    color:#363846; 
}


/* Servicos */

.servicos_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

}

.servicos{
    display: flex;
    justify-content: center;
}

.cards{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-right: 30px;
}

.cardInside{
    background-color: white;
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0656F3;
    border-radius: 15px;    
    cursor: pointer;
    transition-duration: 0.1s;
}

.cardInside.selected {
    border: 3px solid #0e47b9;
    transform:translateY(-3px);
}

.cardInside h1{
    font-size: 1.7rem;
    font-weight: 700;
}

.cardDescription{
    background-color:white;
    width: 558px;
    border: 2px solid #0656F3;
    border-radius: 15px;
    padding: 20px;
}

.cardDescription h1{
    font-weight: 700;
}

.cardDescription p{
    font-size: 17px;
}



.footer{
    text-align: center;
    padding: 3rem;
    background-color: #418CFC;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    color: #fff;
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    background: var(--primary);
    color: var(--white);
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    color: #fff;
}

.footer .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    color: #fff;
    padding: .5rem 0;
    text-decoration: none;
}

.footer .box-container .box .link:hover{
    color: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-top: .1rem solid #fff;
}

.footer .credit span{
    color: var(--secondary);
}




/* RESPOSIVIDADE */


@media (max-width: 1022px){
    .servicos{
        display: grid;
    }

    .servicos_section {
        display: block;
        margin-top: 0px;
        margin: 0;
    }

    .cards{
        display: inline-grid;
        margin: 50px auto 15px;
    }

    .cardDescription {
        width: 390px;
        margin-bottom: 50px;
      }
}

@media (max-width: 465px){
    .cardInside{
        width: 112px;
        height: 79px;
    }

    .cardDescription{
        width: 367px;
    }
}

@media (max-width: 378px){
    .cards{
        gap: 6px;
        margin-bottom: 8.4px;
    }

    .cardDescription{
        width: 351px;
    }
}