@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
    /* barra de navegação */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 5rem;
}

/*----------------------------------------------------------------------------------------------------------*/

/* navbar */
.navbar {
    background-color: #418CFC !important;
}

div.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

/* navbar open*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav .nav-item a{
    font-size: 2rem;
}


/* Logo */
#div-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#div-logo h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 34px;
    color: #FBFBFB;
    font-weight: 900;
}

#div-logo img {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    margin-top: 5px;
}

/* Botão de entrar / cadastrar */
#criar-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 25px;
}

#botao-entrar-header {
    border: none;
    height: 38px;
    width: 200px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #FBFBFB;
    border-radius: 5px;
}
 
#botao-entrar-header:hover {
    background-color: #0753ea;
    transition: all 0.5s;
} 

/* Liks de outras páginas */
.nav a{
    font-size: 1.2rem;
    color: #fff;
 margin: 0 7rem;
    
    
}
.nav a:hover{
    color:#1f2e88; 
}


/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 
    
    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    .nav .nav-item a{
        font-size: 1.7rem;
    }

    .linha {
        width: 50%;
        color: white;
        border: 2px solid white;
    }

    /* Logo */
    #div-logo h1 {
    font-size: 23px;
    }

    #div-logo img {
        height: 23px;
        width: 23px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 80px;
        font-size: 12px;
    }
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    /* Logo */
    #div-logo h1 {
    font-size: 30px;
    }

    #div-logo img {
        height: 28px;
        width: 28px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 130px;
        font-size: 13px;
    }
}

/* Responsividade: Aparelho médio */
@media (min-width: 768px) {
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    }

    .navbar-toggler-icon {
        width: 3rem !important;
        height: 2rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    } 

    /*  Botão */
    #criar-conta {
        margin-right: 20px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 170px;
        font-size: 16px;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 3.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
    } 

    /* Logo */
    #div-logo h1 {
        font-size: 34px;
    }


    #div-logo img {
        height: 30px;
        width: 30px;
    }
    
    /*  Botão */
    #criar-conta {
        margin-right: 25px;
    }

    #botao-entrar-header {
        width: 200px;
    }
}


/*----------------------------------------------------------------------------------------------------------*/

/* Home / principal */
.home{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../img/site-fundo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home .content h3{
    font-size: 4rem;
    font-weight: 600;
    color: #FBFBFB;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home .content p{
    line-height: 2;
    font-weight: 500;
    font-size: 1.7rem;
    color: #FBFBFB;
    padding: 1rem 0;
}

.btn-1{
    margin-top: 3rem;
    display: inline-block;
    border-radius: 10px;
    height: 4.5rem;
    width: 25rem;
    background: #0753ea;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
}

.btn-1:hover {
    background-color: #0545c4;
}


/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .home {
        background-position: 60% 40%;    /* 20% à direita e 40% abaixo */
    }

    .home .content{
        flex-direction: column;
        align-items: center;
        padding: 5rem;
    }

    .home .content h3{
        font-size: 3rem;
        text-align: center;
        color: #FBFBFB;
    }

    .home .content p{
        text-align: center;
    }
    
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    .home .content {
        max-width: 50rem;
    }

    .home .content h3{ 
        font-size: 3.1rem;
    }
}

/* Responsividade: Aparelho médio */
@media (min-width: 768px) {
    .home .content {
        max-width: 60rem;
    }

    .home .content h3{ 
        font-size: 3.5rem;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {

    .home .content h3{ 
        font-size: 4rem;
    }
}

/*----------------------------------------------------------------------------------------------------------*/

/* Porque escolher a gente? */
.services{
    background: #418CFC;
    padding: 5rem 7%;

}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

#confiar {
    color: white;
}

.services .box-container .box{
    padding: 4rem;
    text-align: center;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}

.services .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
}

.services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--black);
}

.services .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
}

@media (max-width: 576px) { 
    .heading{
        font-size: 3rem;
    }
}


/*----------------------------------------------------------------------------------------------------------*/

/* Feedbacks */
.blog {
    padding: 3rem;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blog .box-container .box{
    border: var(--border);
}

.blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blog .box-container .box .content{
    margin-left: 1.5rem;
}

.blog .box-container .box .content .link{
    display: inline-block;
    margin-bottom: 3rem;
    padding: .6rem 1.5rem;
    background: var(--primary);
    font-size: 1.4rem;
    color: var(--white);
}

.blog .box-container .box .content .link:hover{
    background: var(--secondary);
}

.blog .box-container .box .content .icons{
    padding: 10px 20px 1.7rem 0;
    display: flex;
    justify-content: space-between;
}

.blog .box-container .box .content .icons a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blog .box-container .box .content .icons a:hover{
    color: var(--primary);
}

.blog .box-container .box .content .icons a i{
    color: var(--primary);
}

.blog .box-container .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
}

.blog .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 2;
}

.blog .estrelas {
    display: flex;
    align-items: center;
    margin-top: -17px;
}

.blog .estrelas .nota{
    font-size: 2.8rem;
    font-weight: bold;
    color: #0282f3;
    padding: 9px 5px 0 1.3rem;
}

.blog .estrelas img {
    height: 24px;
    margin-right: 2px;
    margin-bottom: 0;
}


/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .blog .box-container{
        gap: 2rem;
    }

    .heading{
        font-size: 3rem;
    }
}

/*----------------------------------------------------------------------------------------------------------*/

/* Perguntas frequentes */
.perguntas {
    padding: 3rem;
    background: var(--light-bg);
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.accordion {
    padding: 0px 3rem;
}

.accordion-button {
    font-size: 2rem !important;
    font-weight: 600;
}

.accordion-body {
    font-size: 1.7rem;
}

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .heading{
        font-size: 3rem;
    }

    .accordion-button {
        font-size: 1.7rem !important;
        font-weight: 600;
    }

    .accordion-body {
        font-size: 1.5rem;
    }

    .accordion {
        padding: 0px 1rem;
    }
}

/*----------------------------------------------------------------------------------------------------------*/

/* Profissionais */
.profissionais {
    padding: 3rem;
}

.container-doutores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-card .card-img-top {
    border-radius: 100%;
    border: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px auto 0;
}

.box-card .card-body {
    padding: 0 20px 0px 20px;
    text-align: left;
}


.card {
    height: 35rem !important;
}

.card-img-top {
    height: 50%;
    object-fit: cover;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1.3rem;
}

.linkdin {
    width: 5rem !important;
}

/*----------------------------------------------------------------------------------------------------------*/

/* Espaço */
.espaco {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5c9dff;
}

#espaco-text {
    color: white;
}

#carouselExampleCaptions {
    width: 60% !important;
}

.carousel-item h5{
    color: black !important;
}

.carousel-item p{
    color: black !important;
}

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .espaco {
        padding: 2rem;
    }

    .heading{
        font-size: 2.8rem;
    }

    #carouselExampleCaptions {
        width: 90% !important;
    }
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {

    #carouselExampleCaptions {
        width: 90% !important;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {
    .espaco {
        padding: 3rem;
    }

    #carouselExampleCaptions {
        width: 60% !important;
    }
}

/*-----------------------------------------------------------------------------------------------------*/

/* Footer */
.footer{
    text-align: center;
    padding: 3rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--secondary);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    color: var(--light-color);
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    background: var(--primary);
    color: var(--white);
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--secondary);
}

.footer .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary);
    padding: .5rem 0;
    text-decoration: none;
}

.footer .box-container .box .link:hover{
    color: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary);
    border-top: .1rem solid var(--secondary);
}

.footer .credit span{
    color: var(--secondary);
}

