/* navbar */ 

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 

    .navbar {
        height: 50px;
    }
    
    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    .nav .nav-item a{
        font-size: 1.7rem;
    }

    .linha {
        width: 50%;
        color: white;
        border: 2px solid white;
    }

    /* Logo */
    #div-logo h1 {
    font-size: 23px;
    }

    #div-logo img {
        height: 23px;
        width: 23px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 80px;
        font-size: 12px;
    }
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    /* Menu */
    .navbar {
        height: 55px;
    }

    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    /* Logo */
    #div-logo h1 {
    font-size: 30px;
    }

    #div-logo img {
        height: 28px;
        width: 28px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 130px;
        font-size: 13px;
    }
}

/* Responsividade: Aparelho médio */
@media (min-width: 768px) {
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    }

    .navbar-toggler-icon {
        width: 3rem !important;
        height: 2rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    } 

    /*  Botão */
    #criar-conta {
        margin-right: 20px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 170px;
        font-size: 16px;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {
    /* Menu */
    .navbar {
        height: 60px;
    }

    .navbar-toggler.collapsed {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 3.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
    } 

    /* Logo */
    #div-logo h1 {
        font-size: 32px;
    }


    #div-logo img {
        height: 29px;
        width: 29px;
        margin: 9px;
    }
    
    /*  Botão */
    #criar-conta {
        margin-right: 25px;
    }

    #botao-entrar-header {
        width: 180px;
        height: 40px;
        font-size: 15px;
    }
}

/* Responsividade: Aparelho muito grande */
@media (min-width: 1500px) {
    /* Menu */
    .navbar {
        height: 65px;
    }

    /* Logo */
    #div-logo h1 {
        font-size: 37px;
    }
    
    
    #div-logo img {
        height: 33px;
        width: 33px;
    }

    #botao-entrar-header {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

}

/*----------------------------------------------------------------------------------------------------------*/
/* Home / principal */

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .home {
        background-position: 60% 40%;    /* 20% à direita e 40% abaixo */
    }

    .home .content{
        flex-direction: column;
        align-items: center;
        padding: 5rem;
    }

    .home .content h3{
        font-size: 3rem;
        text-align: center;
        color: #FBFBFB;
    }

    .home .content p{
        text-align: center;
    }
    
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    .home .content {
        max-width: 50rem;
    }

    .home .content h3{ 
        font-size: 3.1rem;
    }
}

/* Responsividade: Aparelho médio */
@media (min-width: 768px) {
    .home .content {
        max-width: 60rem;
    }

    .home .content h3{ 
        font-size: 3.5rem;
    }


}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {

    .home .content h3{ 
        font-size: 4rem;
    }

    
}

/* Responsividade: Aparelho muito grande */
@media (min-width: 1500px) {

    .home .content h3{ 
        font-size: 5rem;
    }

    .home .content {
        max-width: 85rem;
    }

    .home .content p {
        font-size: 1.9rem;
    }

    .btn-1 {
        height: 6.5rem;
        width: 30rem;
        font-size: 1.9rem;
    }


}

/*----------------------------------------------------------------------------------------------------------*/
/* Porque escolher a gente? */

@media (max-width: 576px) { 
    #confiar{
        font-size: 3.2rem;
    }

    .services .box-container{
        gap: 0px;
    }

    #services .box-container .box {
        height: 280px;
        width: 290px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .services .box-container .box img{
        height: 8rem;
    }

    .services .box-container .box h3{
        font-size: 2rem;
    }

    .services .box-container .box p{
        font-size: 1.5rem;
        color: var(--light-color);

    }

}

@media (min-width: 577px) { 
    #confiar{
        font-size: 3.2rem;
    }

    .services .box-container{
        gap: 0px;
    }

    #services .box-container .box {
        height: 280px;
        width: 290px;
        padding: 10px 20px;
    }


    .services .box-container .box img{
        height: 8rem;
    }

    .services .box-container .box h3{
        font-size: 2rem;
    }

    .services .box-container .box p{
        font-size: 1.5rem;
        color: var(--light-color);
    }

}

@media (min-width: 1500px) { 
    #confiar{
        font-size: 4rem;
    }

    .services .box-container{
        gap: 8px;
    }

    #services .box-container .box {
        height: 330px;
        width: 415px;
        padding: 20px;
        padding: 4rem;
    }


    .services .box-container .box img{
        height: 10rem;
    }

    .services .box-container .box h3{
        font-size: 2.5rem;
    }

    .services .box-container .box p{
        font-size: 1.8rem;
        color: var(--light-color);

    }

}


/*----------------------------------------------------------------------------------------------------------*/
/* Feedbacks */

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .blog .box-container{
        gap: 2rem;
    }

    .blog .heading{
        font-size: 3.2rem;
    }

    .blog .box-container .box{
        width: 330px;
    }

    .blog .box-container .box .image{
        height: 15rem;
        width: 100%;
    }    

    .blog .box-container .box .content .dados{
        font-size: 1.2rem;
    }

    .blog .box-container .box .content h3{
        font-size: 2rem;
    }

    .blog .box-container .box .content p{
        font-size: 1.3rem;
        font-weight: 400;
    }

    .blog .estrelas .nota{
        font-size: 2.3rem;

    }
    
    .blog .estrelas img {
        height: 18px;
    }
    
    .heading{
        font-size: 3rem;
    }
}

@media (min-width: 577px) { 
    .blog .box-container{
        gap: 2rem;
    }

    .blog .heading{
        font-size: 3.2rem;
    }

    .blog .box-container .box{
        width: 330px;
    }

    .blog .box-container .box .image{
        height: 15rem;
        width: 100%;
    }    

    .blog .box-container .box .content .dados{
        font-size: 1.2rem;
    }

    .blog .box-container .box .content h3{
        font-size: 2rem;
    }

    .blog .box-container .box .content p{
        font-size: 1.3rem;
        font-weight: 400;
    }

    .blog .estrelas .nota{
        font-size: 2.3rem;

    }
    
    .blog .estrelas img {
        height: 18px;
    }
    
    .heading{
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .blog .heading{
        font-size: 4.5rem;
    }
}

@media (min-width: 1500px) { 
    .blog .box-container{
        gap: 1.5rem;
    }

    .blog .box-container .box{
        width: 450px;
    }

    .blog .box-container .box .image{
        height: 25rem;
        width: 100%;
    }    

    .blog .box-container .box .content .dados{
        font-size: 1.45rem;
    }

    .blog .box-container .box .content h3{
        font-size: 2.2rem;
    }

    .blog .box-container .box .content p{
        font-size: 1.6rem;
        font-weight: 430;
    }

    .blog .estrelas .nota{
        font-size: 2.7rem;

    }
    
    .blog .estrelas img {
        height: 24px;
    }
    
    .heading{
        font-size: 4rem;
    }
}


/*----------------------------------------------------------------------------------------------------------*/
/* Perguntas frequentes */

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .perguntas .heading{
        font-size: 3.2rem;
    }

    .accordion-button {
        font-size: 1.3rem !important;
        font-weight: 600;
    }

    .accordion-body {
        font-size: 1.5rem;
    }

    .accordion {
        padding: 0px 1rem;
    }
}

@media (min-width: 577px) { 
    .perguntas .heading{
        font-size: 3.2rem;
    }

    .accordion-button {
        font-size: 1.5rem !important;
        font-weight: 600;
    }

    .accordion-body {
        font-size: 1.5rem;
    }

    .accordion {
        padding: 0px 1rem;
    }
}

@media (min-width: 768px) { 

    .accordion-button {
        font-size: 1.7rem !important;
    }

    .accordion-body {
        font-size: 1.5rem;
    }

    .accordion {
        padding: 0px 3rem;
    }
}

@media (min-width: 992px) { 

    .perguntas .heading{
        font-size: 4.5rem;
    }

    .accordion-button {
        font-size: 1.8rem !important;
    }

    .accordion-body {
        font-size: 1.7rem;
    }

}

@media (min-width: 1500px) { 

    .accordion-button {
        font-size: 2rem !important;
    }


}

/*----------------------------------------------------------------------------------------------------------*/
/* Profissionais */
@media (max-width: 576px) {
    .profissionais .heading{
        font-size: 3.2rem;
    }

    .box-card {
        height: 25rem ;
        width: 35rem;
    }

    .box-card .card-img-top {
        width: 210px;
        height: 210px;
    }

    .card-title {
        font-size: 2.1rem;
    }

    .card-text {
        font-size: 1.4rem;
    }

}

@media (min-width: 577px) {
    .profissionais .heading{
        font-size: 3.2rem;
    }

    .box-card {
        height: 25rem ;
        width: 35rem;
    }

    .box-card .card-img-top {
        width: 210px;
        height: 210px;
    }

    .card-title {
        font-size: 2.1rem;
    }

    .card-text {
        font-size: 1.4rem;
    }

}

@media (min-width: 992px) {
    .profissionais .heading{
        font-size: 4rem;
    }
}

@media (min-width: 1500px) {

    .box-card {
        height: 45rem ;
        width: 45rem;
    }

    .box-card .card-img-top {
        width: 240px;
        height: 240px;
    }

    .card-title {
        font-size: 3rem;
    }

    .card-text {
        font-size: 1.7rem;
    }
}



/*----------------------------------------------------------------------------------------------------------*/
/* Espaço */

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    .espaco {
        padding: 2rem;
    }

    .espaco .heading{
        font-size: 3.2rem;
    }

    #carouselExampleCaptions {
        width: 90% !important;
    }
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    .espaco .heading{
        font-size: 3.2rem;
    }

    #carouselExampleCaptions {
        width: 90% !important;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {
    .espaco {
        padding: 3rem;
    }

    #carouselExampleCaptions {
        width: 60% !important;
    }

    .espaco .heading{
        font-size: 4rem;
    }
}

/*----------------------------------------------------------------------------------------------------------*/
/* Footer */

/*----------------------------------------------------------------------------------------------------------*/



