/* navbar */ 

/* Responsividade: Aparelho muito Pequeno */
@media (max-width: 576px) { 
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 

    .navbar {
        height: 50px;
    }
    
    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    .nav .nav-item a{
        font-size: 1.7rem;
    }

    .linha {
        width: 50%;
        color: white;
        border: 2px solid white;
    }

    /* Logo */
    #div-logo h1 {
    font-size: 23px;
    }

    #div-logo img {
        height: 23px;
        width: 23px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 80px;
        font-size: 12px;
    }
}

/* Responsividade: Aparelho pequeno */
@media (min-width: 577px) {
    /* Menu */
    .navbar {
        height: 55px;
    }

    .navbar-toggler.collapsed {
        margin-left: 10px;
        height: 3.5rem;
        width: 4rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 2.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 10px;
    } 

    /* Logo */
    #div-logo h1 {
    font-size: 30px;
    }

    #div-logo img {
        height: 28px;
        width: 28px;
    }

    /*  Botão */
    #criar-conta {
        margin-right: 10px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 130px;
        font-size: 13px;
    }
}

/* Responsividade: Aparelho médio */
@media (min-width: 768px) {
    /* Menu */
    .navbar-toggler.collapsed {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    }

    .navbar-toggler-icon {
        width: 3rem !important;
        height: 2rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 20px;
        height: 3.5rem;
        width: 5rem;
    } 

    /*  Botão */
    #criar-conta {
        margin-right: 20px;
    }

    #botao-entrar-header {
        height: 38px;
        width: 170px;
        font-size: 16px;
    }
}

/* Responsividade: Aparelho grande */
@media (min-width: 992px) {
    /* Menu */
    .navbar {
        height: 60px;
    }

    .navbar-toggler.collapsed {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
        padding: 0%;
    }

    .navbar-toggler-icon {
        width: 3.5rem !important;
        height: 3rem !important;
    } 

    /* Menu Open */
    button.navbar-toggler {
        margin-left: 25px;
        height: 4rem;
        width: 6rem;
    } 

    /* Logo */
    #div-logo h1 {
        font-size: 32px;
    }


    #div-logo img {
        height: 29px;
        width: 29px;
        margin: 9px;
    }
    
    /*  Botão */
    #criar-conta {
        margin-right: 25px;
    }

    #botao-entrar-header {
        width: 180px;
        height: 40px;
        font-size: 15px;
    }
}

/* Responsividade: Aparelho muito grande */
@media (min-width: 1500px) {
    /* Menu */
    .navbar {
        height: 65px;
    }

    /* Logo */
    #div-logo h1 {
        font-size: 37px;
    }
    
    
    #div-logo img {
        height: 33px;
        width: 33px;
    }

    #botao-entrar-header {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

}


/*--------------------------------------------------*/
/* responsive */
@media (max-width: 576px) {
    .title h1 {
        font-size: 2.8rem;
    }

    .title p {
        font-size: 1.9rem;
    }
}

@media (min-width: 576px) {
    .title h1 {
        font-size: 2.8rem;
    }

    .title p {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .title h1 {
        font-size: 4rem;
    }

    .title p {
        font-size: 2.5rem;
    }
}

@media (min-width: 1500px) {
    .title h1 {
        font-size: 5rem;
    }

}

/*exeção pra timeline*/
@media(max-width: 768px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
