@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Geral*/
body {
    font-family: 'Inter', sans-serif;
}

:root{
    --primary:#1f2e88;
    --secondary:#2f66d4;
    --hover: #a2d9f5;
    --black:#333;
    --white:#fff;
    --light-color:#393939;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
    /* barra de navegação */
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 5rem;
}

/*--------------------------------------------------*/
/* Navbar */

.navbar {
    background-color: #418CFC !important;
    height: 65px;
}

div.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

/* navbar open*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav .nav-item a{
    font-size: 2rem;
}


/* Logo */
#div-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#div-logo h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 34px;
    color: #FBFBFB;
    font-weight: 900;
}

#div-logo img {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    margin-top: 5px;
}

/* Botão de entrar / cadastrar */
#criar-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 25px;
}

#botao-entrar-header {
    border: none;
    height: 38px;
    width: 200px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #FBFBFB;
    border-radius: 5px;
}
 
#botao-entrar-header:hover {
    background-color: #0753ea;
    transition: all 0.5s;
} 

/* Liks de outras páginas */
.nav a{
    font-size: 1.2rem;
    color: #fff;
 margin: 0 7rem;
    
    
}
.nav a:hover{
    color:#363846; 
}

/*--------------------------------------------------*/
/*Titulo*/
.title {
    display: flex;
    margin: 40px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title h1 {
    font-size: 5rem;
}

.title h1 span {
    color: #418CFC;
}

.title p {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 5px;
}

/*Timeline*/
.timeline-section{
	background-color: #FBFBFB;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #00EAAF;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 23px;
	color: #00EAAF;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #0753ea;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #ffffff;
	font-size: 17px;
	font-weight: 430;
	line-height: 22px;
}


