@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import '../geral/header_com_perfil_user.css';
@import '../geral/footerBlue.css';

/* Dashboard */

.body{
    font-family: 'Inter';
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 5;
    display: none;
    transition: background-color 0.5s ease;
}

.proxima-consulta{
}

.titulo-proxima-consulta{
    font-weight: 1000;
    font-size: 16pt;
    margin: 20px 0px 20px 50px;
}

.card-marcar-consulta{
    height: 285px;
    min-width: 231px;
    width: 231px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    background-color: #43A0F6;
    margin: 0px 30px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards-proximasconsultas{
    display: flex;
    overflow: auto;
    padding: 0px 0px 20px 0px;
}

.card-marcar-consulta .mais{
    color: white;
    font-size: 60pt;
    text-align: center;
    margin-top: -40px;
}

.card-marcar-consulta .texto{
    color: white;
    font-size: 12pt;
    font-weight: bold;
    margin-top: -30px;
    text-align: center;
}

.historico-consulta{
    margin: 30px 50px;
}

.historico-consulta h1{
    font-weight: 1000;
    font-size: 16pt;
    margin: 20px 0px;
}

.cards-container{
    width: 700px;
}

.card-boy{
    margin: 20px 0px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
    padding: 10px 40px;
    background-color: #D2EAFF;
}

.card-girl{
    margin: 20px 0px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
    padding: 10px 40px;
    background-color: #FBD2FF;
}

.corpo-card-horizontal{
    margin-left: 10px;
}

.line-boy{
    background: #0681F3;
    width: 3px;
    height: 168px;
    position: absolute;
    transform: translate(-8px, -10px);
}

.line-girl{
    background: #E336DC;
    width: 3px;
    height: 168px;
    position: absolute;
    transform: translate(-8px, -10px);
}

.data-status{
    display: flex;
    justify-content: space-between;
    font-weight: 1000;
    font-size: 13pt;
}

.data-status .data{
    color: #636363;
}

.card-boy .data-status .status{
    color: #2E81C9;
}

.card-girl .data-status .status{
    color: #FF55F8;
}

.left-container{
    display: flex;
    align-items: baseline;
}

.tipo-endereco{
    margin-top: 3px;
    line-height: 2px;
}


.tipo-endereco .tipo-consulta{
    font-weight: 1000;
    font-size: 15pt;
}

.tipo-endereco .endereco{
    font-size: 12pt;
    font-weight: bold;
    color: #636363;
}

.perfil-detalhes{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.perfil-detalhes .perfil-imagem img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100px;    
    border: 2px solid;
    margin-right: 4px;
}

.card-girl .perfil-detalhes .botao-detalhes .detalhes{
    background-color: #FF55F8;
}

.card-boy .perfil-detalhes .perfil-imagem img{
    border-color: #0681F3;
}

.card-girl .perfil-detalhes .perfil-imagem img{
    border-color: #E336DC;
}


.nome-perfil{
    font-size: 12pt;
    font-weight: bold;
    color: #636363;
}