@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import '../geral/header.css';
@import '../geral/footerBlue.css';

/* Dashboard */

.body{
    font-family: 'Inter';
}

.proxima-consulta{
    margin: 30px 50px;
}

.titulo-proxima-consulta{
    font-weight: bold;
    font-size: 16pt;
    margin: 20px 0px;
}



.card-consulta-vertical{
    width: 230px;
    background-color: #F6F6F6;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    text-align: center;
    margin-right: 30px;
}

.cabecalho{
    background-color: #0681F3;
    padding: 10px;
    text-align: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;

}

.mes{
    font-size: 18pt;
    color: white;
}

.corpo{
    padding: 10px;
}

.dia-semana{
    font-size: 12pt;
}

.dia-mes{
    font-size: 60pt;
    font-weight: bolder;
}

.paciente{
    font-size: 12pt;
}

.detalhes{
    margin: 7px 0px;
    background-color: #0681F3;
    color: white;
    font-size: 10pt;
    padding: 8px 29px;
    border-radius: 12px;
}

.card-marcar-consulta{
    height: 283px;
    width: 231px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    background-color: #43A0F6;
}

.cards{
    display: flex;
}

.marcar-consulta-href{
    text-decoration: none;
}

.card-marcar-consulta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-marcar-consulta .mais{
    color: white;
    font-size: 60pt;
    text-align: center;
    margin-top: -40px;
}

.card-marcar-consulta .texto{
    color: white;
    font-size: 12pt;
    font-weight: bold;
    margin-top: -30px;
    text-align: center;
}