
/* responsive */
@media (max-width: 378px){
    .cards{
        gap: 6px;
        margin-bottom: 8.4px;
    }

    .cardDescription{
        width: 351px;
    }
}


@media (max-width: 465px){
    .cardInside{
        width: 112px;
        height: 79px;
    }

    .cardDescription{
        width: 367px;
    }
}



@media (max-width: 576px) {
    .title h1 {
        font-size: 2.8rem;
    }

    .title p {
        font-size: 1.9rem;
    }
}

@media (min-width: 576px) {
    .title h1 {
        font-size: 2.8rem;
    }

    .title p {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .title h1 {
        font-size: 4rem;
    }

    .title p {
        font-size: 2.5rem;
    }
}

@media (min-width: 1500px) {
    .title h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1022px){
    .servicos{
        display: grid;
    }

    .servicos_section {
        display: block;
        margin-top: 0px;
        margin: 0;
    }

    .cards{
        display: inline-grid;
        margin: 50px auto 15px;
    }

    .cardDescription {
        width: 390px;
        margin-bottom: 50px;
      }
}

