.titulo{
    text-align: center;
    margin-top: 36px;
}

.data-hora {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.data-hora input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.data-hora input[type="date"]:focus {
    outline: none;
    border-color: #0b2433; /* Cor em destaque ao focar */
    box-shadow: 0px 0px 4px rgba(11, 36, 51, 0.3);
}

.data-hora button {
    padding: 10px 20px;
    background-color: #418cfc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 12px;
}

.data-hora button:hover {
    background-color: #3b7ee2; /* Cor um pouco mais escura ao passar o mouse */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.time-btn {
    padding: 10px;
    background-color: #418cfc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.time-btn:active {
    background-color: #3977d4;
}

.container{
    display: grid;
    justify-content: center;
    
}